* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    margin-bottom: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 4px 4px 3px black;
    margin-bottom: 20px;
}

h1{
    color: royalblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}

#botonCarrito{
    border: none;
    color: royalblue;
    font-size: 40px;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}

#botonCarrito:hover{
    cursor: pointer;
    color: antiquewhite;
    background-color: royalblue;
}

#contenedorProductos{
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto{
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 5px 4px 3px black;
}

.precioProducto{
    font-weight: 700;
}

.botonAgregar{
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}

.botonAgregar:hover{
    cursor: pointer;
}

.botonAgregar:focus{
    outline: none;
}

.modeloContenedor{
    position:fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
} 
